{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row h-100">
  <div class="col-3"></div>
    <div class="col-6 my-auto bg-light shadow-lg rounded p-4">
      <div>
          <h2>{% block form-title %}{% endblock %}</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy}}
          <button type="submit" class="btn btn-success">
            {% block button-name %}
              Submit
            {% endblock %}
          </button>

        </form>
      </div>
    </div>
  <div class="col-3"></div>
</div>
{% endblock %}
